
<div>
  ナビゲーションテキスト
</div>
<br/>
  <input
    #searchBox
    id="search-box"
    (keyup)="search(searchBox.value)"
    placeholder="{{nabiplacehold}}"/>
  <br/>
<table>
  <tr class="head">
    <th>第五コード</th><th>第五名称</th>
    <th>第四コード</th><th>第四名称</th>
    <th>第三コード</th><th>第三名称</th>
    <th>第二コード</th><th>第二名称</th>
    <th>第一コード</th><th>第一名称</th>
  </tr>

  <tr class="detail" *ngFor="let hero of heroes | async">
    <td><div *ngIf="hero">{{hero.id}}</div></td>
    <td><div *ngIf="hero">{{hero.name}}</div></td>
    <td><div *ngIf="hero.hero">{{hero.hero.id}}</div></td>
    <td><div *ngIf="hero.hero">{{hero.hero.name}}</div></td>
    <td><div *ngIf="hero.hero.hero">{{hero.hero.hero.id}}</div></td>
    <td><div *ngIf="hero.hero.hero">{{hero.hero.hero.name}}</div></td>
    <td><div *ngIf="hero.hero.hero.hero">{{hero.hero.hero.hero.id}}</div></td>
    <td><div *ngIf="hero.hero.hero.hero">{{hero.hero.hero.hero.name}}</div></td>
    <td><div *ngIf="hero.hero.hero.hero.hero">{{hero.hero.hero.hero.hero.id}}</div></td>
    <td><div *ngIf="hero.hero.hero.hero.hero">{{hero.hero.hero.hero.hero.name}}</div></td>
  </tr>
</table>
<button>決定</button><button>戻る</button>
<br/>
<br/>
-------------------------<br/>
ナビゲーションコード入力値：{{searchBox.value}}<br/>
-------------------------<br/>
